.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  margin: 0 auto;
  padding: .5rem 0;

  background-color: $color-primary-dark;
}

.header__title {
  font-size: 3rem;
  font-weight: 700;

  text-align: center;
  text-transform: none;

  .header__ja {
    color: #caca0b;
  }

  .header__en {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: rgba($color-primary-light, .72);
  }

  a {
    color: $color-primary-light;
  }
}
